.wrapping {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 30px;
}

.heading{
    height:150px;
    background-color: #db0000;
    display: flex;
}

.headText{
    font-size: 25px;
    color:white;
    padding-left:50px;
    padding-top:50px;
    font-weight: bold;
}

.headSubText{
    font-size: 10px;
    color:white;
    margin-left:570px;
    padding-right:50px;
    padding-top:65px;
    letter-spacing: 1px;
    font-weight:normal;
}

.footer{
    height:150px;
    background-color: #db0000;
}

.footText{
    font-size: 10px;
    color:white;
    padding-left:50px;
    padding-top:30px;
    font-weight: normal;

}

.container{
    width:60%;
    margin:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.wrapping:last-child {
    padding-bottom: 50px;
}
.wrapping:first-child {
    padding-top: 0.1px;
}
