.wrapping {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1em;
    border: 2px dotted black;
    background-color: gray;
}
.wrapping:last-child {
    padding-bottom: 50px;
}
.wrapping:first-child {
    padding-top: 0.1px;
}
