.wrapping{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border:2px solid red;
    background-color:white;
    display: flex;
    flex-direction: row;
}


.title{
    padding-left: 50px;
    color: red;
    font-size:30px;
}

.shortText{
    padding-left: 50px;
    padding-right: 50px;
}

.author{
    text-align:right;
    padding-right: 50px;
    font-style:italic;
    margin-top:40px;
}

.time{
    text-align:right;
    padding-right: 50px;
    font-weight: bold;
}

.imgArea{
    background: linear-gradient(to right, #ffc4d0, white 35%); 
}

.textArea{
    width:100%;
}