.wrapping {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 30px;
}

@supports not (display: grid) {
    .wrapping div {
      float: left;
    }
  }

@supports (display: grid) {
    .wrapping {
      display: grid;
      grid-template-columns: 90%;
    }
  
    @media screen and (min-width: 900px) {
      .wrapping {
        grid-template-columns: repeat(2,48%);
      }
    }
  
    @media (min-width: 1200px) {
      .wrapping {
        grid-template-columns: repeat(3, 32%);
      }
    }
  }

.heading{
    height:150px;
    background-color: #db0000;
    display: flex;
}

.headText{
    font-size: 2rem;
    width:30%;
    color:white;
    padding-left:5%;
    padding-top:50px;
    font-weight: bold;
}

.headSubText{
    font-size: 1rem;
    color:white;
    margin-left:45%;
    padding-top:65px;
    letter-spacing: 1px;
    font-weight:normal;
}

@media(max-width:1300px){
    .headSubText{
        margin-left: 25%;
    }

    .headText{
        font-size: 1.5rem;
    }
}

.footer{
    height:150px;
    background-color: #db0000;
}

.footText{
    font-size: 10px;
    color:white;
    padding-left:50px;
    padding-top:30px;
    font-weight: normal;

}

.container{
    width:60%;
    margin:auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapping:last-child {
    padding-bottom: 50px;
}
.wrapping:first-child {
    padding-top: 0.1px;
}
